<!--<div class="col-md-12">-->
<!--    <div id="formContent">-->
<!--        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>-->
<!--        <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>-->
<!--        &lt;!&ndash; Tabs Titles &ndash;&gt;-->
<!--        <h3>Login</h3>-->

<!--        &lt;!&ndash; Login Form &ndash;&gt;-->
<!--        <form>-->
<!--            <input type="text" id="username" class="fadeIn second" [(ngModel)]="username" name="username" placeholder="username">-->
<!--            <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="password">-->
<!--            <input type="submit" (click)=handleLogin() class="fadeIn fourth" value="Log In">-->
<!--        </form>-->

<!--    </div>-->
<!--</div>-->
<div class="col-md-12">
        <form
                *ngIf="!isLoggedIn"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
            <div class="form-group">
                <label>Username</label>
                <input
                        type="text"
                        class="form-control"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        #username="ngModel"/>
                <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="username.errors && f.submitted">
                    Username is required!
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input
                        type="password"
                        class="form-control"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"/>
                <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">
                    Login
                </button>
            </div>
            <div class="form-group">
                <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="f.submitted && isLoginFailed">
                    Login failed: {{ errorMessage }}
                </div>
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">
            Logged in as {{ roles }}.
        </div>
</div>

<!--<div class="col-md-12">-->
<!--        <form-->
<!--                *ngIf="!isLoggedIn"-->
<!--                name="form"-->
<!--                (ngSubmit)="f.form.valid && onSubmit()"-->
<!--                #f="ngForm"-->
<!--                novalidate-->
<!--        >-->
<!--            <div class="form-group">-->
<!--                <label for="username">Username</label>-->
<!--                <input-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        name="username"-->
<!--                        [(ngModel)]="form.username"-->
<!--                        required-->
<!--                        #username="ngModel"-->
<!--                />-->
<!--                <div-->
<!--                        class="alert alert-danger"-->
<!--                        role="alert"-->
<!--                        *ngIf="username.errors && f.submitted"-->
<!--                >-->
<!--                    Username is required!-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="password">Password</label>-->
<!--                <input-->
<!--                        type="password"-->
<!--                        class="form-control"-->
<!--                        name="password"-->
<!--                        [(ngModel)]="form.password"-->
<!--                        required-->
<!--                        minlength="6"-->
<!--                        #password="ngModel"-->
<!--                />-->
<!--                <div-->
<!--                        class="alert alert-danger"-->
<!--                        role="alert"-->
<!--                        *ngIf="password.errors && f.submitted"-->
<!--                >-->
<!--                    <div *ngIf="password?.errors?.['required']">Password is required</div>-->
<!--                    <div *ngIf="password?.errors?.['minlength']">-->
<!--                        Password must be at least 6 characters-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <button class="btn btn-primary btn-block">-->
<!--                    Login-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <div-->
<!--                        class="alert alert-danger"-->
<!--                        role="alert"-->
<!--                        *ngIf="f.submitted && isLoginFailed"-->
<!--                >-->
<!--                    Login failed: {{ errorMessage }}-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--        <div class="alert alert-success" *ngIf="isLoggedIn">-->
<!--            Logged in as {{ roles }}.-->
<!--        </div>-->
<!--</div>-->