<div class="row">
    <h2>User Details</h2>
    <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Dailyscore</th>
            <th>weeklyscore</th>
            <th>Monthlyscore</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let scoreboard of scoreboards">
            <td>{{scoreboard.email}}</td>
            <td>{{scoreboard.dailyScore}}</td>
            <td>{{scoreboard.weeklyScore}}</td>
            <td>{{scoreboard.monthlyScore}}</td>
        </tr>
        </tbody>
    </table>
</div>