.wrapper {
    position: relative;
    top: 70px;
    max-width: 300px;
    margin: 0 auto;
    font: normal 14px sans-serif;
}
.wrapper .targe-date {
    text-align: center;
}
.wrapper .description, .wrapper .times {
    display: flex;
}
.wrapper .description > p, .wrapper .times > p {
    width: 25%;
    margin: 10px 0 0 0;
    text-align: center;
}
.wrapper .times {
    font-size: 22px;
}

.dailyActive {
    position: relative;
    bottom: 50px;
    right: 542px;
}

.dailyActive {
    position: relative;
    bottom: 40px;
    right: 542px;
}

.btn-d {
    position: relative;
    bottom: 7px;
    left: 20px;
}

.dailyc {
    position: relative;
    bottom: 15px;
    right: 5px;
}

.weekly {
    position: relative;
    bottom: 30px;
    right: 542px;
}

.btn-w {
    position: relative;
    bottom: 8px;
    left: 40px;
}

.weeklyc {
    position: relative;
    bottom: 24px;
    right: 7px;
}

.weeklyform {
    position: relative;
    /*bottom: 24px;*/
    left: 20px;
}

.monthly {
    position: relative;
    bottom: 20px;
    right: 550px;
}

.btn-m {
    position: relative;
    bottom: 8px;
    left: 25px;
}

.monthlyc {
    position: relative;
    bottom: 15px;
    left: 0px;
}

.row {
    position: relative;
    top: 70px;
    left: 20px;
}