

<div class="row" *ngIf="submitMsg !== ''">
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{submitMsg}}
    </div>
</div>

<div class="wrapper">
	<p class="targe-date">
		Countdown to {{ months[month] + " " + day + ", " + year }}
	</p>
	<div class="description">
		<p>Days</p>
		<p>Hours</p>
		<p>Minutes</p>
		<p>Seconds</p>
	</div>
	<div class="times">
		<p id="days"></p>
		<p id="hours"></p>
		<p id="mins"></p>
		<p id="seconds"></p>
	</div>

	<div class="dailyActive">
		<h3>Todays question</h3>
		<tr *ngIf="dailysActive != undefined">
			<th class="dailyc">{{ dailysActive.question }}</th>
			<th>{{ dailysActive.date }}</th>
			<th class="dailyAlt1">{{ dailysActive.alternative1 }}</th>
			<th class="dailyAlt2">{{ dailysActive.alternative2 }}</th>
			<th class="dailyAlt3">{{ dailysActive.alternative3 }}</th>
			<td>
				<form [formGroup]="myForm">
					<mat-form-field class="dailyform" appearance="fill">
						<mat-label>Answer daily</mat-label>
						<mat-select formControlName="rightAlternative" required>
							<mat-option [value]="alternative1">
								{{ dailysActive.alternative1 }}
							</mat-option>
							<mat-option [value]="alternative2">
								{{ dailysActive.alternative2 }}
							</mat-option>
							<mat-option [value]="alternative3">
								{{ dailysActive.alternative3 }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</form>
			</td>
			<td>
				<button
					class="btn btn-success btn-d"
					(click)="dailySubmit(dailysActive.id)"
				>
					Submit
				</button>
			</td>
		</tr>
	</div>

	<div class="dailyNotActive">
		<h3>Upcoming/Expired Dailys</h3>
		<tr *ngFor="let daily of dailysNotActive">
			<th class="dailyc">{{ daily.question }}</th>
			<th>{{ daily.date }}</th>
		</tr>
	</div>

	<div class="weekly">
		<h3>Weekly questions</h3>
		<tr *ngFor="let weekly of weeklys">
			<th class="weeklyc">
				{{ weekly.question }}
			</th>
			<!--			<td>{{ weekly.date }}</td>-->
			<td>
				<mat-form-field class="weeklyform" appearance="fill">
					<mat-label>Answer weekly</mat-label>
					<input
						type="text"
						[(ngModel)]="weeklyAnswer"
						matInput
						placeholder=""
					/>
				</mat-form-field>
			</td>

			<td>
				<button class="btn btn-success btn-w" (click)="weeklySubmit(weekly.id)">
					Submit
				</button>
			</td>
		</tr>
	</div>

	<div class="monthly">
		<h3>Monthly questions</h3>
		<tr *ngFor="let monthly of monthlys">
			<th class="monthlyc">{{ monthly.question }}</th>
			<!--			<td>{{ monthly.hint1 }}</td>-->
			<!--			<td>{{ monthly.hint2 }}</td>-->
			<!--			<td>{{ monthly.hint3 }}</td>-->
			<!--				<td>{{ monthly.date }}</td>-->
			<td>
				<mat-form-field appearance="fill">
					<mat-label>Answer Monthly</mat-label>
					<input
						type="text"
						[(ngModel)]="Monthlyanswer"
						matInput
						placeholder=""
					/>
				</mat-form-field>
			</td>
			<td>
				<button class="btn btn-success btn-m" (click)="monthlySubmit(monthly.id)">
					Submit
				</button>
			</td>
		</tr>
	</div>
</div>

