.wrapper {
    position: relative;
    top: 70px;
    max-width: 300px;
    margin: 0 auto;
    font: normal 14px sans-serif;
}
.wrapper .targe-date {
    text-align: center;
}
.wrapper .description, .wrapper .times {
    display: flex;
}
.wrapper .description > p, .wrapper .times > p {
    width: 25%;
    margin: 10px 0 0 0;
    text-align: center;
}
.wrapper .times {
    font-size: 22px;
}

.monthly {
    position: relative;
    /*top: 20px;*/
    /*right: 235px;*/
}

.weekly {
    position: relative;
    /*top: 100px;*/
}

.daily {
    position: relative;
    /*top: 100px;*/
}