<!--<h1>Hi {{currenUser.username}}!</h1>-->
<!--<h3>All registered users:</h3>-->

<!--<ul>-->
<!--        <li *ngFor="let user of users">-->
<!--                {{user.username}}-->
<!--                - <a (click)="deleteUser(user.username)"-->
<!--                     class="text-danger">Delete</a>-->
<!--        </li>-->
<!--</ul>-->

<div class="wrapper">
    <p class="targe-date">
        Countdown to {{ months[month] + ' ' + day + ', ' + year }}
    </p>
    <div class="description">
        <p>Days</p>
        <p>Hours</p>
        <p>Minutes</p>
        <p>Seconds</p>
    </div>
    <div class="times">
        <p id="days"></p>
        <p id="hours"></p>
        <p id="mins"></p>
        <p id="seconds"></p>
    </div>
</div>
